<div class="max-w-md mx-auto mt-12 p-8 bg-cyan-50 rounded-2xl border-2 border-cyan-100 space-y-6 text-slate-800 text-lg">
  <h1 class="text-3xl font-bold text-blue-600 mb-8">Dashboard</h1>

  <p><span class="font-semibold text-cyan-700">User Id: </span><span class="text-slate-700">{{ userId }}</span></p>
  <p><span class="font-semibold text-cyan-700">User Name: </span><span class="text-slate-700">{{ userName }}</span></p>
  <p><span class="font-semibold text-cyan-700">User Role: </span><span class="text-slate-700">{{ userRole }}</span></p>
</div>
