<div class="activities flex flex-wrap gap-4 p-2 max-w-6xl mx-auto">
  <div *ngFor="let activity of activities()" class="w-full sm:w-80 p-3 bg-white rounded-lg border-gray-200 border shadow-sm hover:shadow-md transition-shadow">
    <div class="grid grid-cols-2 gap-2">
      <p class="text-xs font-medium text-gray-600">Name</p>
      <p class="text-xs truncate">{{ activity.name }}</p>
      <p class="text-xs font-medium text-gray-600">Desc</p>
      <p class="text-xs truncate">{{ activity.description }}</p>
      <p class="text-xs font-medium text-gray-600">Price</p>
      <p class="text-xs">{{ activity.price | currency }}</p>
      <p class="text-xs font-medium text-gray-600">Cap</p>
      <p class="text-xs">{{ activity.capacity }}</p>
      <p class="text-xs font-medium text-gray-600">Min</p>
      <p class="text-xs">{{ activity.minAge }}</p>
      <p class="text-xs font-medium text-gray-600">Max</p>
      <p class="text-xs">{{ activity.maxAge }}</p>
      <p class="text-xs font-medium text-gray-600">Safety</p>
      <p class="text-xs">{{ activity.safetyLevel }}</p>
      <p class="col-span-2 text-xxs text-gray-500 truncate">Photo: {{ activity.photoUrl }}</p>
    </div>
    <div class="text-center mt-2">
      <button (click)="setActivityId(activity.id); openModal()" class="text-xs px-2.5 py-1.5 bg-indigo-600 hover:bg-indigo-700 focus:ring-1 focus:ring-indigo-600 text-xs text-white rounded shadow-sm transition-colors">Book</button>
    </div>
  </div>
</div>

<app-add-booking-form-overlay
  [isOpen] = "isModalOpen()"
  (closeModelEvent)="closeModal()"
  (submitFormEvent)="onBookingSubmit($event)"
>
</app-add-booking-form-overlay>